.navbar{
    background-color: #00a800;
}
.quem-somos {
    background-color: #00d6d6;
    color: black;
}
.margin {
    padding-bottom: 50px;
    padding-top: 30px;
}
.parceiros {
    background: #a8a8a8;
}
.bg-footer {
    background-color: black;
    color: white;
}